@layout('emails.layout')
@section('body')
<h2>
    Your Lumber List Approved
</h2>
<p>
    Lumber List that you recently send for approval approved.
</p>
<p>
    Thank you for this job!
</p>
<strong style="font-style:italic">-The Lumber Guys</strong>
@endsection