@layout('emails.layout')
@section('body')
<h2>
    Your Lumber List Rejected
</h2>
<p>
    Lumber List that you recently send for approval rejected.
</p>
<p>
    Please check your dashboard.
</p>
<strong style="font-style:italic">-The Lumber Guys</strong>
@endsection