@layout('emails.layout')
@section('body')
<h2>
    Welcome
</h2>
<p>
    Welcome to Lumber click where we make your lumber purchase easy.
</p>
<p>
    Your member number is 344567.
</p>
<p>
    please keep a lookout for email as we move forward with your project.
</p>
<p><strong>Log-in</strong> to complete your upload process.</p>
<strong style="font-style:italic">-The Lumber Guys</strong>
@endsection